<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Entitys.Model1.csdl|res://*/Entitys.Model1.ssdl|res://*/Entitys.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-K7ORNK3\SQLEXPRESS;initial catalog=21.106-18-KR;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>